/* Reset/ normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Basic */


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
}
.title {
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 10px;
  color: #D87D4A;
  text-transform: uppercase;
  padding-bottom: 20px;
}
h2, h1, h3, h4, h5, h6, p {
  font-family: 'Manrope', sans-serif;

}